<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319946047250-ukd16h3kgc0t70o6egvj7ee3cgf5jo41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319946047250-ukd16h3kgc0t70o6egvj7ee3cgf5jo41</string>
	<key>API_KEY</key>
	<string>AIzaSyBVWtSrwtGjVss_vQgVNYhIyve84cB-5tI</string>
	<key>GCM_SENDER_ID</key>
	<string>319946047250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.classmatch</string>
	<key>PROJECT_ID</key>
	<string>classmatch-f7175</string>
	<key>STORAGE_BUCKET</key>
	<string>classmatch-f7175.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319946047250:ios:0e1f20fd03484ee18dbdcb</string>
</dict>
</plist>